body,html{
	width:100%;
	margin: 0px;
	padding: 0px;
	background-color: #DAE0C4;
	
	position: relative;
}
body{
	overflow-x: hidden;
}
nav {
    margin-top: 35px;
    margin-left: 0px;
    z-index: 2;
    background-color: transparent;
    position: absolute;
    font-family: gibson;
    font-size: 14px;
}
#back-img {
    height: 1173px;
    top: 0px;
    left: 0px;
    width: 2247px;
    position: absolute;
    z-index: -1;
    margin-top: -243px;
    margin-left: -412px;
}
#img-rectangle {
    top: 0px;
    margin-left: 331px;
    margin-top: -337px;
    height: auto;
    width: 841px;
    position: absolute;
    z-index: 1;
}
.navbar-header>li>img {
    margin-left: 71px;
    position: absolute;
    width: 45px;
    height: auto;
    z-index: 2;
}
.glyphicon {
    color: white;
    font-size: 31px;
    margin-top: 13px;
    margin-left: 54px;
    position: absolute;
}
.login {
    margin-left: 122px;
    border-radius: 44px;
    background: linear-gradient(to right,#7B60FF,#3E3080);
    color: white;
    height: 35px;
    width: 83px;
    outline: none;
    border: 0px;
    margin-top: 7px;
    z-index: 2;
}
.header-component {
    color: white;
}
.header-second {
    margin-left: 16px;
}
.header-first {
    margin-left: 6px;
}
.text1 {
    margin-top: 229px;
    margin-right: 150px;
    font-family: gibson;
    font-size: 49px;
    color: white;
    position: absolute;
    margin-left: 95px;
    z-index: 2;
}
#img-circle {
    left: 0px;
    top: 524px;
    margin-left: -84px;
    height: auto;
    z-index: 2;
    position: absolute;
    width: 204px;
}
#button-con {
    position: absolute;
    margin-top: 462px;
    margin-left: 331px;
    width: 474px;
    height: 78px;
    z-index: 2;
    border-radius: 55px;
    border: 0px;
    color: white;
    font-family: gibson;
    font-size: 25px;
    background: linear-gradient(to right,#403a8e,#1b1561);
}
#Navigation {
    position: absolute;
    right: 0px;
    margin-top: 605px;
    z-index: 2;
    width: 137px;
    height: auto;
}
#send {
    margin-right: 44px;
    position: absolute;
    right: 0px;
    z-index: 3;
    width: 52px;
    height: auto;
    margin-top: 650px;
}
.mobiles {
    position: absolute;
    width: 1246px;
    margin-top: 718px;
    margin-left: 0px;
    z-index: 2;
}
#feature {
    position: absolute;
    background-color: white;
    border-radius: 25px;
    width: 257px;
    height: 48px;
    z-index: 3;
    margin-left: 539px;
    margin-top: 960px;
    font-family: gibson_regular;
    font-size: 23px;
    color: #6492FF;
    border: 3px solid #5EFDB3;
    outline: none;
}
.store {
    right: 0px;
    position: absolute;
    margin-top: 1314px;
    margin-right: 63px;
    z-index: 3;
    height: 105px;
    width: 180px;
    display:flex;
    border:0px;
}

#playstore {
    position: absolute;
    background: url(E:/index1/img/playstore.jpg) no-repeat;
    width: 180px;
    height: 100px;
    cursor: pointer;
    flex: 1;
    background-size: 100%;
    outline: none;
    border: 0px;
}
#applestore {
    position: absolute;
    background: url(E:/index1/img/applestore.jpg) no-repeat;
    cursor: pointer;
    width: 180px;
    height: 100px;
    flex: 1;
    background-size: 100%;
    margin-top: 62px;
    outline: none;
    border: 0px;
}
.contant {
    width: 100%;
    height: 464px;
    background-color: #16182D;
    margin-top: 1449px;
    z-index: 3;
    position: absolute;
}
.text2 {
    position: absolute;
    font-family: gibson_regular;
    font-size: 54px;
    margin-top: 65px;
    z-index: 6;
    color: white;
    left: 62px;
}
#contact_button {
    position: absolute;
    font-family: gibson_semibold;
    font-size: 20px;
    border-radius: 32px;
    background: linear-gradient(to right,#5651EA,#5091E6);
    margin-top: 74px;
    right: 113px;
    border: 0px;
    color: white;
    width: 297px;
    height: 61px;
    font-size: 37px;
}
.flex-container {
    display: flex;
    width: 1188px;
    color: white;
    margin-left: 58px;
    margin-top: 224px;
}
.column {
    flex: 1;
    padding-left: 10px;
    flex-basis: 25%;
    box-sizing: border-box;
    margin-left: -12px;
    margin-top: 10px;

}
.anchor {
    color: white;
    text-decoration-line: underline;
}
.first-column{
	flex:3;
}
.first-column > span {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
    font-family: gibson_regular;
    font-size: 73px;
}
.sec-column {
    margin-left: 436px;
}
.sixth-column > img {
    margin-left: -17px;
    width: 128px;
    margin-top: -27px;
}
.last{
    position: absolute;
    top: 1857px;
    z-index: 4;
    background-color: #25262B;
    margin-left: 0px;
    width: 100%;
    height: 73px;
    padding-top: 12px;
}
footer{
	background-color: #25262B;
	width:100%;
}
.foot, .foot-right, .social {
    color: white;
    font-family: gibson;
    font-size: 17px;
}
.social {
    font-size: 27px;
}