body,html{
	width:100%;
	margin: 0px;
	padding: 0px;
	background-color: #DAE0C4;
	
	position: relative;
}
body{
	overflow-x: hidden;
}
nav {
    margin-top: 35px;
    margin-left: 0px;
    z-index: 2;
    background-color: transparent;
    position: absolute;
    font-family: gibson;
    font-size: 14px;
}
#back-img {
    height: 1173px;
    top: 0px;
    left: 0px;
    width: 2247px;
    position: absolute;
    z-index: -1;
    margin-top: -243px;
    margin-left: -412px;
}
.navbar-header>li>img {
    margin-left: 71px;
    position: absolute;
    width: 45px;
    height: auto;
    z-index: 2;
}
.glyphicon {
    color: white;
    font-size: 31px;
    margin-top: 13px;
    margin-left: 54px;
    position: absolute;
}
.login {
    margin-left: 122px;
    border-radius: 44px;
    background: linear-gradient(to right,#7B60FF,#3E3080);
    color: white;
    height: 35px;
    width: 83px;
    outline: none;
    border: 0px;
    margin-top: 7px;
    z-index: 2;
}
.header-component {
    color: white;
}
.header-second {
    margin-left: 16px;
}
.header-first {
    margin-left: 6px;
}
.last{
    position: absolute;
    top: 1857px;
    z-index: 4;
    background-color: #25262B;
    margin-left: 0px;
    width: 100%;
    height: 73px;
    padding-top: 12px;
}
footer{
	background-color: #25262B;
	width:100%;
}
.foot, .foot-right, .social {
    color: white;
    font-family: gibson;
    font-size: 17px;
}
.social {
    font-size: 27px;
}