/*Initialize all the fonts at the right pace*/
@font-face{
    font-family: "gibson";
    src: url("fonts/gibson-bold.ttf");
}
@font-face{
    font-family: "gibson_regular";
    src: url("fonts/Gibson_Regular.ttf");
}
@font-face{
    font-family:"semibold"; 
    src: url("fonts/gibson-semibold-webfont.ttf");
}

body{
	position: relative;
	border: 0px;
	font-family: gibson; /* Also give many other values to the font so that in case gibson is not lodaed than other fonts can be loaded.*/
    background-color: #DAE0C4;
    height:100%;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    width: 100%;
}

nav {
    margin-top: 3%;
    margin-left: 0px;
    font-family: gibson;
    color: white;
    background-color: transparent;
    border-color: transparent;
    white-space: nowrap;
}

.responsive img {
    z-index: -1;
    width: 100%;
    position: absolute;
    margin-top: -240px;
}

.navbar-header {
    white-space: nowrap;
    display: inline-flex;
}

.logo {
    margin-left: 80px;
    width: 30%;
}

.navbar-btn {
    margin-top: 7%;
    margin-bottom: 0px;
}

.container {
    width: 69%;
}

.navbar-nav{
    margin-top: 14px;
}

.btn-default {
    color: white;
    background: linear-gradient(to right,#7B60FF,#3E3080);
    font-weight: bold;
    border-radius: 44px;
    border: 0px;
    width: 86px;
    margin-left: 1px;
    box-shadow: -6px -1px 164px 3px #000000;
    height: 37px;
    outline: none;
}

.textfi {
    position: absolute;
    width: 100%;
    font-family: gibson_regular;
}

.textfi input {
    border-radius: 40px;
    border: 0px;
    text-decoration: none;   
    padding-bottom: 7px;
    outline: none;
    box-shadow: 0px 0px 50px -7px #000000;
}

.cat {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    word-spacing: 6px;
    font-family: gibson_regular;
}

.cat input {
    border-radius: 36px;
    background-color: #ffffff;
    border: 0px;
    outline: none;
    box-shadow: 0px 0px 50px -7px #000000;
}

.sub {
    position: absolute;
    width: 100%;
    font-family: gibson_regular;
}

.sub input {
    border-radius: 40px;
    background-color: #00EE9E;
    border: 0px;
    color: #ffffff;
    margin-top: -5px;
    outline: none;
    box-shadow: 0px 0px 50px -7px #000000;
}

.con2 {
    /*margin: 0% 10%;*/
    position: relative;
    font-family: gibson_regular;
}

.playstore {
    background: url(../img/playstore.jpg) no-repeat;
    cursor: pointer;
    border: 0px;
    position: absolute;
    background-size: 100%;
    border: 0px;
    margin-left: -4px;
    height: 5.2em;
}

.applestore {
    background: url(../img/applestore.png) no-repeat;
    cursor: pointer;
    border: 0px;
    margin-left: -5px;
    background-size: 100%;
    height: 82px;
    position: absolute;
}

.thumbnail.ored {
    position: absolute;
    margin-top: 100px;
    color: #1e203c;
    margin-left: 99px;
    background-color: transparent;
    font-family: gibson;
}

.thumbnail.login {
    background-color: transparent;
    margin-top: -59px;
    margin-right: 61px;
    border: 0px;
    position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo{
        width: 35%;
        margin-left: 40px;
    }

    .btn-default{
        width: 58px;
        height: 28px;
        font-size: 73%;  
    }
    
    .container{
        width: 80%;
    }

    .navbar-nav>li>a{
        font-size: 0.7em;
        padding: 0px 7%;
    }

    .navbar-nav{
        margin-top: 7px;
        margin-left: 3%;
    }

    .navbar-right{
        display: none;
    }

    .rootsapp-intro-text {
        margin-top: 7%;
        font-size: 2em;
    }

    .download{
        margin-top: 7%;
        height: 54px;
        width: 243px;
        font-size: 19px;
    }

    .text2 {
        margin-top: 7%;
        font-size: 2em;
    }

    .col-md-12 {
        width: 33.3333%;
    }

    .textfi {
        margin-top: 33%;
        margin-left: 25%;
    }

    .textfi input {
        width: 186px;
        height: 34px;
        padding-left: 16px;
        font-size: 14px;
    }

    .cat {
        margin-top: 49%;
        margin-left: 24%;
    }

    .cat input {
        height: 34px;
        width: 89px;
        font-size: 15px;
    }

    .sub {
        margin-top: 66%;
        margin-left: 25%;
    }

    .sub input {
        width: 186px;
        height: 34px;
        font-size: 14px;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }

    .playstore {
        margin-top: 47px;
        width: 200px;
    }

    .applestore{
        margin-top: 128px;
        width: 200px;
    }

    .thumbnail.ored{
        font-size: 2em;
    }

    .thumbnail.login{
        width: 325px;
    }

    .l1 {
        margin-left: 46%;
        margin-top: 17%;
        font-size: 1.6em;
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        width: 75%;
    }

    .navbar-nav>li>a{
        padding: 0% 14%;
        font-size: 0.8em;
        margin-left: 3%;
    }

    .rootsapp-intro-text {
        margin-top: 7%;
        font-size: 2.7em;
    }

    .download{
        margin-top: 7%;
        height: 58px;
        width: 260px;
        font-size: 21px;
    }

    .text2{
        margin-top: 11%;
        font-size: 2.7em;
    }

    .col-md-12 {
        width: 33.3333%;
    }

    .thumbnail.login{
        width: 420px;
    }

    .l1 {
        margin-left: 46%;
        margin-top: 17%;
        font-size: 2.0em;
    }

    .textfi {
        margin-top: 31%;
        margin-left: 23%;
    }

    .textfi input {
        width: 240px;
        height: 44px;
        padding-left: 15px;
        font-size: 18px;
    }

    .cat {
        margin-top: 47%;
        margin-left: 23%;
    }

    .cat input {
        height: 44px;
        width: 115px;
        font-size: 18px;
    }

    .sub {
        margin-top: 64%;
        margin-left: 23%;
    }

    .sub input {
        width: 240px;
        height: 44px;
        font-size: 19px;
    }

    .playstore {
        margin-top: 79px;
        width: 239px;
    }

    .applestore{
        margin-top: 161px;
        width: 238px;
    }

    .thumbnail.ored{
        font-size: 2.7em;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 69%;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 14%;
        font-size: 1em;
    }
    
    .navbar-nav{
        margin-top: 14px;
        margin-left: 3%;
    }

    .logo{
        width: 30%;
        margin-left: 80px;
    }

    .btn-default{
        width: 86px;
        height: 37px;
        font-size: 110%;  
    }

    .rootsapp-intro-text{
        margin-top: 8%;
        font-size: 3.8em;
    }

    .text2{
        margin-top: 15%;
        font-size: 3.8em;
    }

    .thumbnail.login{
        width: 517px;
    }

    .l1 {
        margin-left: 48%;
        margin-top: 19%;
        font-size: 240%;
    }

    .textfi {
        margin-top: 33%;
        margin-left: 25%;
    }

    .textfi input {
        width: 293px;
        height: 52px;
        padding-left: 16px;
        font-size: 20px;
    }

    .cat {
        margin-top: 49%;
        margin-left: 24%;
    }

    .cat input {
        height: 53px;
        width: 143px;
        font-size: 19px;
    }

    .sub {
        margin-top: 66%;
        margin-left: 25%;
    }

    .sub input {
        width: 290px;
        height: 53px;
        font-size: 24px;
    }

    .playstore {
        margin-top: 79px;
        width: 239px;
    }

    .applestore{
        margin-top: 161px;
        width: 238px;
    }

    .thumbnail.ored{
        font-size: 3.8em;
    }
}

/* Extra hd devices (hd laptops and desktops, 1550px and up) */
@media only screen and (min-width: 1550px) {
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0px 25%;
        font-size: 1.2em;
    }

    .btn-default{
        width: 95px;
        height: 42px;
        font-size: 140%;
    }

    .logo{
        width: 30%;
        margin-left: 100px;
    }

    .textfi {
        margin-top: 33%;
        margin-left: 25%;
    }

    .textfi input {
        width: 293px;
        height: 52px;
        padding-left: 16px;
        font-size: 20px;
    }

    .cat {
        margin-top: 49%;
        margin-left: 24%;
    }

    .cat input {
        height: 53px;
        width: 143px;
        font-size: 19px;
    }

    .sub {
        margin-top: 66%;
        margin-left: 25%;
    }

    .sub input {
        width: 290px;
        height: 53px;
        font-size: 24px;
    }

    .playstore {
        margin-top: 79px;
        width: 239px;
    }

    .applestore{
        margin-top: 161px;
        width: 238px;
    }
}

.btn-default:hover {
    color: white;
    background: linear-gradient(to right,#7B60FFCC,#3E3080CC);
    /*border-color: #adadad;*/
}

.btn-default:focus{
    color:white;
    outline: none;
    background-color: #e6e6e6;
}

.nav>li>a:hover{
    background-color: transparent;
}
.select:active{
  background-color: transparent;
}
.select:visited{
    background-color: transparent;
}
.white {
    color: #ffffff;
    font-weight: bold;
    /*margin-left: 20px;*/
}
.white:hover{
    color:#C8CBF5;
}
.rootsapp-intro-text-white{
    color: #ffffff;
    font-weight: bold;
    /*padding-left: 12px;*/
}
.black {
    color: black;
    font-weight: bold;
    /*margin-left: 12px;*/
}
.black :hover{
    background-color: transparent;

}
.rootsapp-intro-text {
    margin-left: 10%;
    /*margin-top: 8%;*/
    /*font-size: 3.8em;*/
    font-weight: 700;
    line-height: 122%;
    color: #1e203c;
}

.text2 {
    margin-left: 10%;
    /*margin-top: 11%;*/
    /*font-size: 3.8em;*/
    color: #1e203c;
    line-height: 122%;
}

.download {
    margin-left: 2%;
    /*margin-top: 9%;*/
    color: white;
    background: linear-gradient(to right,#FF9984,#FF4F4E);
    /*height: 84px;*/
    /*width: 380px;*/
    font-weight: bold;
    border-radius: 105px;
    /*font-size: 30px;*/
    border: 0px;
    outline: none;
    z-index: -5;
}
.glyphicon-search {
    color: white;
    font-size: 28px;
    margin-right: -15px;
    margin-top: -9px;
}

.thumbnail{
	background-color: transparent;
    z-index: 1;
 }

.thumnail.ored h3{
	font-size: 41px;
}

.l1 {
    /*margin-left: 48%;*/
    z-index: 1;
    position: absolute;
    /*background-color: white;*/
    /*margin-top: 19%;*/
    font-family: semibold;
    /*font-size: 240%;*/
}

img.rect1 {
    z-index: 2;
    position: absolute;
    margin-left: 85px;
    margin-top: 180px;
    width: 260px;
}

.log1 {
    z-index: -1;
    margin-top: 0px;
    margin-left: -59px;
    position: absolute;
}

#closed {
    z-index: -2;
    position: absolute;
    margin-left: 9px;
    margin-top: 60px;
    width: 89px;
}

/*input[type="text"] {
    border-radius: 40px;
    width: 199px;
    height: 36px;
    border: 0px;
    font-family: gibson;
    padding-left: 7px;
    text-decoration: underline;
    text-decoration-color: #CBF39C;
}*/


/*.cat input:focus{
    color:white;
    background-color: #4475FF;
}
.cat input:active{
    background-color: #ffffff;
    color:white;
}*/
/*div.cat  input {
    border-radius: 40px;
    background-color: #ffffff;
    font-family: Gibson;
    height: 37px;
    width: 100px;
    border: 0px;
}*/

.mid {
    background-color: #212425;
    margin-left: -109px;
    border: 0px;
    margin-right: 0px;
    width: 1493px;
    height: 1365px;
    margin-top: 512px;
    position: relative;
}

.mid1 {
    background-color: #212425;
    position: absolute;
    width: 367px;
    margin-left: 3px;
    margin-top: -48px;
    height: 684px;
    z-index: 3;
}

.flex-container{
    display:flex;
    background-color: transparent;
    animation-name:mymove;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.conveyor {
    position:relative;
    animation-name:mymove;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    flex:1;
}
.conveyor1{
    flex:2;
}
.conveyor:hover{
   animation-play-state:paused;
}

@keyframes mymove{
    from{ left:500px;}
    to{ left:-1000px;}
}

#s9 {
    float: left;
    margin-top: -297px;
    width: 626px;
    margin-left: -105px;
    position: absolute;
    z-index:4;
}

#moc1 {
    position: absolute;
    width: 492px;
    margin-top: -53px;
    margin-left: 456px;
    z-index: 2;
}

#moc1:hover{
   transition: all .2s ease-in-out;
   transform:scale(1.07);
  
}

#moc2 {
    width: 446px;
    margin-left: 902px;
    margin-top: -60px;
    position: absolute;
    z-index:2;
}

#moc2:hover{
   transition: all .2s ease-in-out;
   transform:scale(1.07);
}
 
#mac {
    width: 1154px;
    margin-left: 94px;
    margin-top: 679px;
    height: auto;
    position: absolute;
}

.mid {
    background-color: #212425;
    margin-left: -127px;
    border: 0px;
    margin-right: 0px;
    width: 1493px;
    height: 1365px;
    margin-top: 512px;
    position: relative;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 45px;
}

.text1 {
    margin-left: 93px;
    margin-top: 193px;
    font-size: 53px;
    font-weight: 700;
    line-height: 70px;
}

 /*.navbar-nav {
    float: left;
    margin: 0;
    font-size: 15px;
} */

.mid {
    background-color: #212425;
    margin-left: -140px;
    border: 0px;
    margin-right: 0px;
    width: 1493px;
    height: 1365px;
    margin-top: 512px;
    position: relative;
}